<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiGraph - parser demo - Dev page</title>

    <!-- SVG -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.13/svg.min.js"></script>

    <!-- KaTex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
        integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"
        integrity="sha384-X/XCfMm41VSsqRNQgDerQczD69XqmjOOOwYQvr/uuC+j4OPoNhVgjdGFwhvN02Ja"
        crossorigin="anonymous"></script>

    <!-- adding vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- adding pimath.css  -->
    <link rel=" stylesheet" href="app.css" />
</head>

<body class="min-h-screen">
    <div id="app" class="flex flex-col gap-3">
        <h1 class="text-center text-2xl font-semibold my-10">Graph builder</h1>
        <input v-model="parameter" id="param" class="border px-3 py-1" @input="updateLayout" />
        <textarea v-model="code" id="construct" rows="10" class="border p-3 rounded w-full" @input="update"></textarea>
        <!-- output -->
        <div id="root" class="w-full max-w-3xl mx-auto"></div>

        <div ref="output" class="w-full grid grid-cols-1 md:grid-cols-2 gap-3"></div>
    </div>
    </div>


    <script type="module">
		import { PiDraw } from '../src/index'

		const { createApp, ref } = Vue

		const escapeHTML = (str) =>
			str.replace(
				/[&<>'"]/g,
				tag =>
					({
						'&': '&amp;',
						'<': '&lt;',
						'>': '&gt;',
						"'": '&#39;',
						'"': '&quot;'
					}[tag] || tag)
			);

		let draw
		createApp({
			mounted() {
				// this.code = 'f(x)=sin(x),-pi:2pi'
				this.parameter = `x=-11:11,y=-11:11,axis,grid`

				this.code = `A(8,3)->red,w=5,drag=grid,tex=@
B(-4,-1)->blue,w=10
M=mid A,B
P1=proj A,Ox
P2=proj A,Oy
d=AB
e=line P1,P2
p=perp d,M
q=med A,M
C(1,-2)
p1=poly A,B,C->fill=teal/0.3,red/0.5,w=10
q=para d,C
f(x)=x^2*sin(x)/8
g(t)=t^2/4,sin(t)
c=circ A,3
a=arc C,B,A,1
d1=BC.
v1=vCA
X(0,0)->drag=f
`
				this.code = `A(1,2)->drag=grid,tex=A=@/tr/1;3
B(2,0)->drag=grid
C(6,5)->drag=grid
b=bis B,A,C
T=sym B,A
K=sym B,b

A1=sym A,Ox
    A2=sym A,Oy
l1=AK
l2=AT->ultrathick,blue
l3=TC
l4=BA2
I=inter l3,l4
X=dpt A2,l3,-2
Y=vpt A2,K,B,1`
				this.code = `@begin:static
x1=line y=0.1->blue,ultrathick,dot
y1=line x=0.1->blue,ultrathick,dot
x2=line y=-0.1->blue,ultrathick,dot
y2=line x=-0.1->blue,ultrathick,dot
O(0,0)->tex=O/bl
O1(0,0.1)->hide
O2(0,-0.1)->hide
O3(0.1,0)->hide
O4(-0.1,0)->hide
c=circ O,10
@end:static
P(5,8.6)->drag=c,?
v=[OP]
P3=dpt O,v,10,p->hide
P2=sym P3,y2
C1=proj P,x1
C2=proj P2,x2
S1=proj P,y1
S2=proj P2,y2
cos=[O1C1]->ultrathick,green
cos2=[O2C2]->ultrathick,green,dash
sin=[O3S1]->ultrathick,red
sin2=[O4S2]->ultrathick,red,dash
v2=[OP2]
cs=[PC1]->dot,ultrathin
sn=[PS1]->dot,ultrathin
cs2=[P2C2]->dot,ultrathin
sn2=[P2S2]->dot,ultrathin
X(10,0)->hide
a=arc X,O,P,2->mark=end,tex=\\alpha
a2=arc X,O,P2,5->mark=end,tex=\\frac{\\pi}{2}-\\alpha
t=line x=10->ultrathin
T=inter v,t->?
T2=inter v2,t->?
tan=[XT]->ultrathick,orange
tan2=[XT2]->ultrathick,orange,dash
r=[OT[->ultrathin,dot
r2=[OT2[->ultrathin,dot`
				this.code = `A(3,2)->drag
B(-4,4)->drag
C(-8,2)->drag
D(-10,5)->drag
b=bezier A,B,C,D
l1=AB.
l2=BC.
l3=CD.`
                this.code = `A(3,2)->tex=A,!\nB(6,8)->tex\nd=AB.->tex=h`
                this.code= `A(3,2)->tex=A,!,drag
c1=circ A,4
B(1,1)->drag
l=AB
X=inter c1,l->tex
P(-3,4)
d1=PX1
d2=PX2
c2=circ P,6
Y=inter c1,c2
Z=inter c2,l
j=Y1Y2->red,w=3`
// 				setTimeout(()=>{
// 					this.code = `f(x)=(x-3)(x+2)(x-1)/6
// a=fill f,-2:1->fill=green/0.3
// b=fill f,1:3->fill=red/0.3
// A(-2,0)->tick,tex=a
// B(1,0)->tick,tex=b
// C(3,0)->tick,tex=c`
// 					this.update()
// 				}, 1000)
				draw = new PiDraw(
					'root',
					{
						tex: (value) => katex.renderToString(`${value}`, { throwOnError: false, displayMode: true }),
						parameters: this.parameter,
						code: this.code
					}
				)

				const result = PiDraw.documentation()

				this.output.innerHTML = Object.keys(result).map((key) => {
					return `<div class="border rounded flex flex-col gap-2">
            <h2 class="font-semibold text-lg bg-gray-200 p-3">${result[key].name}</h2>
            <p class="px-3">${escapeHTML(result[key].description)}</p>
            <pre class="px-3 pb-3">${escapeHTML(result[key].code)}</pre>
            </div>`
				}).join('')
				// Extract only the parameters.
				// const parameters = result.map((item) => item.parameters)
				// console.table(parameters[2].label);

			},
			setup() {
				const output = ref(null)
				const parameter = ref('x=-5:10,grid,axis,tex')
				const code = ref('')
				const message = ref("no message now")
				return {
					code,
					message,
					output,
					parameter,
					modify: () => {
					},
					update: () => {
						draw.refresh(code.value)
					},
					updateLayout: () => {
						draw.refreshLayout(parameter.value)
					},
					analyseCode: () => {
						console.log('analyseCode');
					},
					changeCaret: () => {
						console.log('change caret - display current line.');
					}
				}
			}
		}).mount('#app')
	</script>
</body>

</html>